<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
<div>
    @if (@User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Hello " + @User.Identity.Name + "!", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
    }
    else
    {
        @Html.ActionLink("Login", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
    }
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Registration","Auth")">Registration</a>
        </li>
        <li>
            <a href="@Url.Action("Logout", "Auth")">Logout</a>
        </li>
    </ul>
</div>
@RenderBody()

@Scripts.Render("~/bundles/jquery")
@RenderSection("scripts", required: false)
</body>
</html>
